@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

:root {
    --color-bg-base: #020617;
    --color-bg-card: #0f172a;
    --color-primary: #e11d48;
    --color-primary-light: #f43f5e;
}

body {
    background-color: var(--color-bg-base);
    color: #f8fafc;
    font-family: var(--font-sans);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(225, 29, 72, 0.3);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(225, 29, 72, 0.5);
}
